# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
.venv/

# ML runs
mlruns/

# Qlib Data (Large files)
qlib_data/multi_coin_qlib.csv

# Logs & Temp
*.log
global_onchain_news_snapshot.json

# OS files
.DS_Store

# IDE
.vscode/
.idea/

qlib/
.runenv/
qlib_data/bin_multi_coin_v2/
qlib_data/bin_strategy_pool/
qlib_data/instruments/
qlib_data/**/*.bin
frontpages/node_modules/
frontpages/node_modules/
frontpages/build/
